#mainDiv {}

#root button.btn.btn-primary element.style {}

.search {}

.btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: pointer;
}

.card-header {
    background-color: #17a2b8;
    color: white;
}

.container-fluid {
    width: 80%;
}

#infox {
    align-items: center;
}